@import url(//fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(//fonts.googleapis.com/css?family=Fjalla+One);
@import url('mixins.less');


/* Table of Contents:
   1. General
   2. Header top
   3. Header
   4. Header bottom
   5. Content top
   6. Content
   7. Content bottom
   8. Pages
   9. Sidebar and blocks
   10. Shortcodes
   11. Footer top
   12. Footer
*/



/*==========================================================================
1. GENERAL
===========================================================================*/

body {
	-webkit-tap-highlight-color: @linkColor;
	background: #fff;
	color: @textColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	min-width: 1250px;
	position: relative;
}

#page-wrapper {
	overflow: hidden;
}


/* Titles
===========================================================================*/

h1 {
	color: @titleTextColor;
	font: 400 50px/50px @titleFontFamily;
	margin-bottom: 34px;
}

h2 {
	color: @titleTextColor;
	letter-spacing: -1px;
	word-spacing: -2px;
	text-transform: uppercase;
	font: 400 40px/40px @titleFontFamily;
	margin-bottom: 30px;
	text-align: center;
}

h3,
#block-tm-follow-user h2/*,
#block-forum-active h2,
#block-forum-new h2*/ {
	color: @titleTextColor;
	text-transform: uppercase;
	font: 400 30px/30px @titleFontFamily;
	margin-bottom: 18px;
}

.profile h3,
#block-tm-follow-user h2 {
	border-bottom: 1px solid @borderColor;
	overflow: hidden;
	padding-bottom: 5px;
}

h4 {
	color: @titleTextColor;
	font: 400 22px/32px @baseFontFamily;
	margin-bottom: 20px;
}

h5 {
	color: @titleTextColor;
	text-transform: uppercase;
	font: 900 20px/24px @baseFontFamily;
	margin-bottom: 10px;
}

h6 {
	color: @titleTextColor;
	font: 900 18px/22px @baseFontFamily;
	margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Forms
===========================================================================*/

input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
	background: #fff;
	border: 1px solid @borderColor;
	.box-sizing(border-box);
	color: @textColor !important;
	font: @baseFontSize @baseFontFamily;
	max-width: 100%;
	padding: 5px 10px 6px;
}

fieldset {
	border-color: @borderColor;
}

label {
	display: inline-block;
}

#search-form .form-item {
	display: block;
}

#user-login,
#contact-site-form,
.search-form {
	.form-text {
		width: 100%;
	}
}

#contact-site-form label {
	vertical-align: middle;
}


/* Links
===========================================================================*/

a {
	.transition(all 0.3s ease);
	color: @linkColor;
	text-decoration: none;

	&:hover {
		color: @linkHoverColor;
		text-decoration: none;
	}
}

.btn a,
.more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
	background: @linkColor;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: @white;
	display: inline-block;
	font: 400 16px/22px @baseFontFamily;
	outline: none;
	letter-spacing: 1px;
	padding: 9px 25px 9px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
	.btn a:hover,
	.more-link a:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	ul.links li a:hover,
	.view-portfolio .views-field-view-node a:hover,
	#block-poll-recent ul.links li a:hover,
	#filters li a:hover,
	#filters li a.selected,
	.content ul.pager li a:hover,
	.content ul.pager li.pager-current,
	.view .date-nav-wrapper .date-prev a:hover,
	.view .date-nav-wrapper .date-next a:hover,
	.form-submit:hover {
		background: @textColor;
		color: #fff;
		text-decoration: none;
	}
.btn,.more-link {
	position: relative;
	a {
		background: none;
		&:hover {
			background: none;
		}
	}
	span {
		display: inline-block;
		position: relative;
		z-index: 1;
		&:before,
		&:after  {
			pointer-events: none;
			box-sizing: border-box;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: @linkColor;
			border: none;
			content: '';
			-webkit-transform: translateY(0px) translateX(0px);
			-moz-transform: translateY(0px) translateX(0px);
			transform: translateY(0px) translateX(0px);
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			-moz-transition: -moz-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
		}
		&:after  {
			background: @titleTextColor;
			opacity: 0;
			-webkit-transform: translateY(-7px) translateX(8px);
			-moz-transform: translateY(-7px) translateX(8px);
			transform: translateY(-7px) translateX(8px);
		}
		&:hover:before,
		&:focus:before {
			opacity: 0;
			-webkit-transform: translateY(7px) translateX(-8px);
			-moz-transform: translateY(7px) translateX(-8px);
			transform: translateY(7px) translateX(-8px);
		}

		&:hover:after,
		&:focus:after  {
			opacity: 1;
			-webkit-transform: translateY(0px) translateX(0px);
			-moz-transform: translateY(0px) translateX(0px);
			transform: translateY(0px) translateX(0px);
		}
	}
}
input[type="submit"],
input[type="reset"] {
	padding: 7px 20px;
}

.more-link {
	padding-top: 20px;
	text-align: left;
}


/* Lists
===========================================================================*/

ul,
.item-list ul,
ul.menu {
	margin: 0 0 @baseLineHeight;

	li {
		background: url(../images/list-marker.png) 0 8px no-repeat;
		list-style: none;
		margin: 0;
		font-weight: 300;
		font-style: italic;
		font-size: 18px;
		line-height: 30px;
		padding: 0 0 0 26px;

		&:first-child {
			margin-top: 0;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}

		ul {
			padding-top: 10px;
		}
	}
}

/* Reset styles for lists */
ul.tabs,
ul.flex-direction-nav,
ul.links,
ul#admin-menu-menu,
ul#admin-menu-account,
ul#admin-menu-icon,
ul.slides,
ul.contextual-links,
ul.tips,
ul.pager,
.messages.error ul,
.rate-widget ul {
	li {
		background: none;
		font: inherit;
		margin-top: 0;
		padding-left: 0;
	}
}

.messages.error ul li {
	list-style: disc;
}

#admin-menu,
#admin-menu .dropdown{
	z-index: 10000;
}


/* Images
===========================================================================*/

img {
	.box-sizing(border-box);
	height: auto;
	max-width: 100%;
	width: auto;
	
	&.lazyloader-icon {
		width: auto !important;
	}
}

.frame,
.field-type-image,
.views-field-field-image,
.views-field-field-blog-media,
.view-portfolio .isotope-element .views-field-field-portfolio-image,
.field-name-field-blog-media,
.field-name-field-image,
.field-name-field-portfolio-image,
.field-name-field-service-image,
.field-name-field-employee-photo,
.field-name-field-banner-image,
.field-name-field-slide-image {
	margin-bottom: 20px;
	position: relative;
	.img-style();
}

.field-name-field-banner-image{
	box-shadow: none;
	padding: 0;
}

.user-picture {
	background: none;
	float: left;
	margin-right: 15px;
	max-width: 45%;
	padding: 0;

	.profile & {
		float: right;
		margin: 0 0 0 20px;
	}
}


/* Paragraph
===========================================================================*/

p {
	margin-bottom: @baseLineHeight;
}


/* Tables
===========================================================================*/

table {
	margin-bottom: 0;

	tr.odd,
	tr.even {
		border: none;
	}

	tr.odd {
		background: transparent;
	}

	tr.even {
		background: @altBg;
	}

	th {
		background: @altBg;
		border: none;
		color: @linkColor;
		font-size: 14px;
		padding: 5px;

		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
	}

	td {
		padding: 5px;
	}
}


/* Classes
===========================================================================*/


.extra-wrap {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.clearfix {
	position: relative;

	&:after {
		clear: both;
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
	}
}

.fclear {
	clear: both;
}
.l-clear {
	clear: left;
}
.separator {
	clear: both;
	height: 40px;
}

.separator-top {
	border-top: 0;
	clear: both;
	margin-top: 50px;
	padding-top: 0;
}

.separator-bottom {
	border-bottom: 0;
	margin-bottom: 50px;
	padding-bottom: 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.style-1 {
	font-size: 22px;
	line-height: 32px;
}
.style-2 {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
}
.indent-1 {
	margin-bottom: 90px;
}
.indent-2 {
	margin-bottom: 17px;
}
.indent-3 {
	padding: 0 100px;
}
.img-indent {
	margin-bottom: 40px;
}
.img-left {
	float: left;
	margin: 0 30px 20px 0;
	max-width: 40%;
}
.img-style {
	padding: 6px;
	background: @white;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.15);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.15);
	box-shadow: 0 4px 4px rgba(0,0,0,.15);
}
/* Regions
===========================================================================*/

.region-header-top:after,
.region-slider-content:after,
.region-header:after,
.region-header-bottom:after,
.region-parallax-1:after,
.region-content-top:after,
.region-content:after,
.region-menu:after,
.region-content-bottom:after,
.region-footer-left:after,
.region-footer-right:after,
.region-footer-top:after,
.region-footer:after,
.region-map-content:after,
.view-content:after {
	clear: both;
	content: '';
	display: block;
	width: 100%;
	overflow: hidden;
}
.region {
	.block {
		margin-bottom: 20px;
	}
}
.views-row {
	margin-bottom: 20px;
}
.video-bg,
.img-bg {
	.region {
		padding-bottom: 20px;
		padding-top: 20px;
		&-parallax-1 {
			padding: 65px 0 50px;
		}
	}
}
.region-slider-content {
	padding: 0 0 28px;
	background: @altBg;
	border-bottom: 1px solid #dae0e4;
	.block {
		margin-bottom: 0;
	}
}
.video-bg {
	background: url(../images/ajax-loader.gif) center center no-repeat;
}

.region-map-content {
	.block {
		margin-bottom: 0;
	}
}

::selection,
::-moz-selection {
	background: @linkColor;
	color:#fff;
	text-shadow:none;
}

img::selection,
img::-moz-selection {
	background: transparent;
}



/*==========================================================================
2. HEADER TOP
===========================================================================*/

.region-header-top {
	margin-bottom: 30px;
}



/*==========================================================================
3. HEADER
===========================================================================*/

#header {
	position: relative;
	width: 100%;
}
.header-section-1 {
	background: @titleTextColor;
	.clearfix();
	.col1 {
		float: left;
		padding: 42px 0 30px;
	}
	.col2 {
		float: right;
	}
}
.header-section-2 {
	background: @white url(../images/bg-1.png) center top no-repeat;
	padding: 100px 0 70px;
	.page-about & {
		background: @altBg;
	}
}
.page-services {
	.region-content {
		background: @white url(../images/bg-1.png) center top no-repeat;
		background-size: 100%;
	}
}
.stickup{
	.transition(all 0.4s ease);
	z-index: 9999;
}

.isStuck{
	left: 0;
	right: 0;
	top: 0;

}


/* Logo
===========================================================================*/

#logo {}

.img-logo {}

.site-name {
	margin-bottom: 0;

	a:hover {
		color: inherit;
		text-decoration: none;
	}
}

.slogan {}


/* Menu
===========================================================================*/

.select-menu {
	display: none !important;
}
#block-superfish-1 {
	margin: 0;
	float: right;
}
#superfish-1 {
	background: none;
	margin-bottom: 0;
	padding: 0;
	width: auto;
	z-index: 101;
	.clearfix;

	> li {
		background: none;
		border: 0;
		font: 700 14px/20px @baseFontFamily;
		margin: 0;
		overflow: inherit;
		padding: 0;
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
		}

		> a {
			padding: 41px 15px;
			color: @white;
			text-decoration: none;

			.sf-sub-indicator {
				background: none;
				display: none;
				font: inherit;
				height: auto;
				margin-left: 5px;
				overflow: visible;
				position: static;
				text-indent: 0;
				width: auto;
			}
		}

		> a:hover,
		&.active-trail > a,
		&.sfHover > a {
			color: @white;
			text-decoration: none;
			background: @linkColor;

			.sf-sub-indicator {}
		}

		ul {
			background: @linkColor;
			display: none;
			padding: 15px 0 11px;
			top: 102px;
			width: 120px !important;

			li {
				font-style: normal;
				background: none;
				border-bottom: 0;
				float: none !important;
				font-size: 12px;
				height: auto;
				padding: 0 15px;
				width: auto !important;

				> a:visited,
				> a {
					color: #fff;
					text-decoration: none;

					.sf-sub-indicator {
						background: none;
						display: inline-block;
						font: inherit;
						height: auto;
						margin-left: 5px;
						overflow: visible;
						position: static;
						text-indent: 0;
						width: auto;
					}
				}

				> a:hover,
				&.active-trail > a,
				&.sfHover > a {
					color: #2b1915;
					text-decoration: none;
				}

				ul {
					left: 101% !important;
					top: -15px;
				}
			}
		}
	}
	
	.sf-megamenu {
		width: auto !important;

		> li > ol {
			vertical-align: top;
			white-space: nowrap;
			
			> li{
				display: inline-block;
				margin: 0 0 0 15px;
				padding: 0;
				vertical-align: top;
				width: 120px !important;
				white-space: normal;
				
				&:first-child {
					margin-left: 0;
				}
				
				a {
					color: #fff;
					text-decoration: none;
				}
				
				a:hover,
				a.active,
				&.active-trail > a,
				&.sfHover > a {
					color: #2b1915;
					text-decoration: none;
				}
				
				ol {
					padding: 0;

					li {
						display: block;
						float: none !important;
						margin-left: 0;
						padding: 0;
					}
				}
			}
		}
	}
}


/* Slider
===========================================================================*/

.flex-viewport {
	.transition(none);
}

.flexslider {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	
	img {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
	}
}

#flexslider-1 {
	.slides li {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		padding: 0;

		img {
			width: 100%;
		}
	}

	.flex-control-nav {
		bottom: 20px;
		font-size: 0;
		line-height: 0;
		z-index: 20;

		li a {
			box-shadow: none;
		}
	}

	.flex-control-thumbs {
		padding: 26px 0 0;
		margin: 0;
		position: relative;
		bottom: 0;
		left: 50%;
		width: 1050px;
		margin: 0 0 0 -525px;
		overflow: visible;
		.clearfix();
		li {
			-moz-user-select: none;
			-khtml-user-select: none;
			user-select: none;
			width: 23.5%;
			overflow: hidden;
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
			background: @black;
			&+li {
				margin-left: 2%;
			}
			img {
				.transition(all 0.3s ease);
				opacity: .8;
				height: 130px;
				width: auto;
				max-width: none;
				position: relative;
				margin: 0 0 0 -250px;
				left: 50%;
				&.flex-active,&:hover {
					opacity: 1;
				}
			}
		}
	}

	.flex-direction-nav {
		a {
			&.flex-prev {}
			&.flex-next {}
			&:hover {}
			
			&:before{
				line-height: 40px;
			}
		}
	}

	&:hover .flex-next {
		opacity: 1;
		right: 0;
	}

	&:hover .flex-prev {
		opacity: 1;
		left: 0;
	}

	.flex-caption {
		font-size: 16px;
		line-height: 22px;
		top: 50%;
		left: 50%;
		margin: -75px 0 0 -585px;
		position: absolute;
		min-width: 575px;
		z-index: 99;
		h2 {
			text-align: left;
			margin-bottom: 5px;
			a {
				color: @white;
				display: block;
				padding: 31px 10px 25px 25px;
				position: relative;
				&:before,
				&:after  {
					pointer-events: none;
					box-sizing: border-box;
					position: absolute;
					z-index: -1;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					background: @linkColor;
					border: none;
					content: '';
					-webkit-transform: translateY(0px) translateX(0px);
					-moz-transform: translateY(0px) translateX(0px);
					transform: translateY(0px) translateX(0px);
					-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
					-moz-transition: -moz-transform 0.5s, opacity 0.5s;
					transition: transform 0.5s, opacity 0.5s;
				}
				&:after  {
					background: @titleTextColor;
					opacity: 0;
					-webkit-transform: translateY(-15px) translateX(12px);
					-moz-transform: translateY(-15px) translateX(12px);
					transform: translateY(-15px) translateX(12px);
				}
				&:hover:before,
				&:focus:before {
					opacity: 0;
					-webkit-transform: translateY(15px) translateX(-12px);
					-moz-transform: translateY(15px) translateX(-12px);
					transform: translateY(15px) translateX(-12px);
				}

				&:hover:after,
				&:focus:after  {
					opacity: 1;
					-webkit-transform: translateY(0px) translateX(0px);
					-moz-transform: translateY(0px) translateX(0px);
					transform: translateY(0px) translateX(0px);
				}
			}
		}
		.slide-body {
			padding: 12px 15px 15px 25px;
			color: @titleTextColor;
			background: @white;
		}
	}
}



/*==========================================================================
4. HEADER BOTTOM
===========================================================================*/

.header_bottom_wrapper {
	background: @white;
	padding: 95px 0 80px;
}



/*==========================================================================
5. CONTENT TOP
===========================================================================*/

.content_top_wrapper {
	background: @altBg;
	padding: 90px 0 60px;
}



/*==========================================================================
6. CONTENT
===========================================================================*/

#main-wrapper {
	padding: 0px 0 0px;
}
#main {
	padding: 95px 0 60px;
	.front &,.page-about &,.page-services & {
		padding-bottom: 0;
	}
}
#block-system-main {
	margin-bottom: 0;
}
.region-content {
	padding: 0;
}

/* System messages
===========================================================================*/

div.messages {
	margin-bottom: 30px;
	padding-right: 30px;

	.dismiss {
		box-shadow: none;
		border-radius: 2px;
		font-family: @baseFontFamily;
		line-height: normal;
		padding: 2px 6px 4px;
		text-transform: lowercase;
		width: auto;

		&:hover {
			color: #fff;
			text-shadow: none;
		}
	}
}


/* Breadcrumbs
===========================================================================*/

#breadcrumb {
	color: @textColor;
	margin-bottom: 30px;
	padding: 0;

	a {
		color: inherit;
		padding: 0 3px;
		text-decoration: none;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			color: @linkColor;
		}
	}
}


/* Admin tabs
===========================================================================*/

.tabs-wrapper {
	margin: 1px 0 20px;
}

.tabs {
	overflow: hidden;
}

.tabs ul.primary {
	border: 0;
	border-bottom: 1px solid @borderColor;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 4px 0;

	li {
		margin-bottom: -1px;

		a {
			background: @white;
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			color: @textColor;
			font-size: 12px;
			font-weight: normal;
			margin: 0;
			overflow: hidden;
			padding: 3px 15px 4px;
			text-shadow: none;
			.transition(all 0.1s linear);
		}

		&.active a,
		a:hover {
			background: @linkColor;
			border-color: darken(@linkColor, 3%);
			color: @white;
			text-decoration: none;
		}
	}
}


/* Tiled gallery
===========================================================================*/


.portfolio-filters {
	margin-bottom: 40px;
}

.tm-masonry-filter {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		background: none;
		display: inline-block;
		padding: 0;
		
		&:before {
			background-color: @linkColor;
			bottom: 3px;
			content: "";
			display: inline-block;
			height: 5px;
			margin: 0 10px;
			position: relative;
			width: 5px;
		}
		
		&:firts-child:before {
			display: none;
		}
	
		a {
			color: @textColor;
			text-decoration: none;

			&.active,
			&:hover {
				color: @linkColor;
			}
		}
	}
}

.tm-masonry-item {
	position: relative;

	.field-type-image {
		float: none !important;
		max-width: 100% !important;
		text-align: center;
		width: 100% !important;
	}
	
	.node-header {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);
	}
	
	.node-title {
		font-weight: 400;
		margin: 0;
		position: relative;
	}
	
	a.colorbox {
		background: #fff;
		text-align: center;

		&:after {
			background: none;
			color: #000;
			content: "\f00e";
			font: 30px/30px FontAwesome;
			left: 51%;
			margin: -15px 0 0 0;
			position: absolute;
			top: -100%;
			z-index: 999;
			.transition(0.6s ease);
		}
		
		&:hover {
			img {
				.opacity(50);
			}
		}
	}
	
	.node-footer {
		margin: -15px 0 0 0;
		padding: 0;
		position: absolute;
		right: 51%;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);

		.node-readmore a {
			background: none;
			color: transparent;
			font-size: 0;
			line-height: 0;
			padding: 0;

			&:after {
				color: #000;
				content: "\f0c1";
				font: 30px/30px FontAwesome;
			}
		}
	}
	
	&:hover {
		.node-footer,
		a.colorbox:after {
			top: 40%;
		}
		
		.node-header {
			top: 60%;
		}
	}
}


/* Blocks
===========================================================================*/
#block-views-banners-block {
	.view-content {
		display: table;
		table-layout: fixed;
		width: 100%;
		&:after {
			display: none;
		}
	}
	.views-row {
		display: table-cell;
		margin-bottom: 0;
		a {
			img {
				.transition(all 0.3s ease);
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			}
			&:hover {
				img {
-webkit-animation-name: pop;
animation-name: pop;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
				}
			}
		}
	}
}
#block-views-risk-services-block,#block-views-financial-services-block {
	margin-bottom: 0;
	.views-row {
		margin-bottom: 80px !important;
	}
	.views-field-field-risk-setrvice-image,.views-field-field-financial-setrvice-image {
		margin-bottom: 40px;
	}
}
#block-views-our-team-block-1 {
	.views-row {
		margin-bottom: 80px !important;
		a {
			color: @titleTextColor;
			&:hover {
				color: @linkColor;
			}
		}
		.views-field-field-employee-position {
			color: @linkColor;
		}
		.views-field-field-employee-photo {
			margin-bottom: 40px;
		}
	}
}
#block-views-article-block {
	.views-field-field-article-media {
		float: left;
		width: 570px;
		max-width: 50%;
		margin: 0 30px 0 0;
	}
}
#block-block-10 {
	dl {
		dt,dd {
			font-size: 14px;
			line-height: 23px;
			font-weight: 400;
			padding: 0;
			margin: 0;
		}
		dd {
			span {
				display: inline-block;
				width: 75px;
			}
		}
	}
}
#block-tm-follow-site {
	margin-bottom: 95px;
	.tm-follow-links {
		.tm-follow-link-wrapper {
			font-size: 31px;
			line-height: 31px;
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
			a {
				color: #e8eef2;
				&:hover {
					color: @linkColor;
				}
			}
		}
	}
}
#block-views-services-block,#block-views-solutions-block {
	margin-bottom: 0;
	.views-row {
		margin-bottom: 93px !important;
	}
	.views-field-field-service-image,.views-field-field-solution-image {
		margin-bottom: 30px;
	}
}
#block-views-testimonials-block {
	padding: 60px 0;
	margin-bottom: 0;
	position: relative;
	&:after,&:before {
		display: inline-block;
		width: 51px;
		height: 43px;
		position: absolute;
		content: '';
	}
	&:after {
		right: 10px;
		bottom: 0;
		background: url(../images/quote-2.png) 0 0 no-repeat;
	}
	&:before {
		left: 5px;
		top: 0;
		background: url(../images/quote-1.png) 0 0 no-repeat;
	}
	.testi-content {
		background: @white;
		border-radius: 10px;
		padding: 30px 90px 25px 45px;
		.testi-photo {
			float: left;
			margin: 0 30px 0 0;
			width: 99px;
			img {
				border-radius: 100px;
			}
		}
		.testi-meta {
			padding: 17px 0 0;
			color: @linkColor;
		}
		a {
			font-size: 14px;
			line-height: 21px;
			color: @textColor;
			&:hover {
				color: @linkColor;
			}
		}
	}
}


/*==========================================================================
7. CONTENT BOTTOM
===========================================================================*/

.content_bottom_wrapper {
	background: @altBg;
	padding: 100px 0 30px;
}



/*==========================================================================
8. PAGES
===========================================================================*/

/* Portfolio
===========================================================================*/

#isotope-container {
	margin-left: -10px;
	margin-right: -10px;
}

.isotope-element {
	background: none;
	.box-sizing(border-box);
	color: inherit;
	margin: 0 10px 30px;
	height: auto;
	overflow: visible;
	padding: 0;
	position: relative;
	width: auto;

	.views-field-field-portfolio-image {
		background: url(../images/ajax-loader.gif) center center no-repeat #fff;
		margin-bottom: 25px;

		a {
			background: #fff;
			display: block;
			overflow: hidden;
			position: relative;
			text-decoration: none;

			&:after {
				.transition(all 0.3s ease);
				background: none;
				color: @linkColor;
				content: "\f00e";
				font: 0px/80px FontAwesome;
				left: 50%;
				margin: -40px 0 0 -40px;
				position: absolute;
				top: 50%;
				z-index: 999;
			}

			&:hover:after {
				font-size: 80px;
			}
		}

		img {
			width: 100%;
		}
	}

	.views-field-body {
		margin-bottom: 25px;
	}
}

#isotope-options {
	background: none;

	#filters {
		margin-bottom: 20px;
		text-align: right;

		li {
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 10px;
			padding: 0;
			background: none;
		}
	}
}

/* Categories */
.field-name-field-portfolio-category {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02e";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}


/* Blog
===========================================================================*/

.page-blog .content-header ul{
	margin-bottom: 0;
	
	li{
		background: none;
		padding: 0;
	}
}

.node {
	.separator-top;

	&:first-child {
		background: none;
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/* Author & date information */
.node-header {
	margin-bottom: 20px;
}
	
	.node-title {
	}
	
	.node-submitted {
		margin: 0;
		.fa {
			color: @linkColor;
			margin-right: 5px;
		}
		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
		
		.node-author,
		.node-time,
		.node-views {
			margin-right: 7px;
		}
		
		.node-comments {}
	}

/* Blog image */
.node-teaser .field-type-file,
.node-teaser .field-type-image,
.node-employee .field-type-image {
	margin: 0 0 25px;
	.img-style();
}

/* Blog video */
.media-vimeo-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-youtube-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-vimeo-video,
.media-youtube-video {
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
.field-name-field-article-media {
	margin-bottom: 30px;
}
/*Blog links */
.links {
	list-style: none;

	li {
		display: inline-block !important;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

/* Pagination */
.content ul.pager {
	margin-top: 30px;
	text-align: left;

	li {
		margin: 0px 1px 5px;
		padding: 0;
		display: inline-block;
	}
}


/* Node Tags */
.node-footer {
	padding-top: 30px;

	.field-name-field-tags {
		padding-top: 20px;

		.field-label {
			background: none;
			float: left;
			font: inherit;
			font-weight: bold;
			margin-right: 15px;
			padding: 0;
			text-shadow: none;
			text-transform: none;
		}

		.field-items {
			overflow: hidden;
			padding-bottom: 15px;
			width: 100%;
		}

		ul li {
			float: left;
			margin: 0 0 5px 10px;

			&:first-child {
				margin-left: 0;
			}

			a {
				font: inherit;
				font-weight: bold;
				padding: 2px 8px;
			}
		}
	}
}

/* Tags */
.field-name-field-blog-tags {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02c";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}

/* Add this */
.addthis_button_compact {
	margin: 0;
}

/* Likes */
.likebtn_container {
	padding-top: 4px;
}

/* Comments */
#comments {
	.separator-top;

	.comments-title {}

	.indented {
		margin-left: 20px;
	}
}

.comment {
	background: transparent;
	border: 1px solid @borderColor;
	margin-bottom: 10px;
	padding: 25px;
	
	.comment-title {}
	
	.comment-submitted {
		margin: 0 0 5px;
	}
	
	.comment-content {
		margin-bottom: 20px;
	}

	.comment-footer {
		padding: 0;
	}
}


/* Comment form*/
#comment-form-wrapper {
	.separator-top;
	
	.comments-title {}
}

#comment-form {
	/* form elements */
	.form-item {
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	
	label {
		vertical-align: middle;
	}
	
	.form-type-item label {
		float: left;
		padding-right: 10px;
	}
	
	.form-text {
		width: 100%;
	}

	.form-textarea {
		height: 200px;
		width: 100%;
	}

	/* filter*/
	.filter-wrapper {
		border: none;
		padding: 0;

		.fieldset-wrapper {
			> * {
				padding: 0;
			}
		}

		.filter-help {
			padding-top: 15px;

			a {
				background: none;
				display: inline-block;
				padding: 0;
			}
		}
		
		.form-item {
			width: auto;
		}

		label {
			display: inline-block;
			margin-right: 15px;
		}
	}
	
	/* buttons */
	.form-actions {
		margin: 0;
		padding-top: 20px;
		
		#edit-submit {
			margin-right: 5px;
		}
	}
}

/* Comment edit*/
#edit-comment-body-und-0-format-guidelines {
	clear: both;

	ul {
		font: inherit;

		li {
			background: none;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}



/* Contacts
===========================================================================*/

.panels-flexible-region-11-contacts{
	float: none;
	width: 100%;
}

.contact-form {
	.form-item {
		position: relative;
	}

	input[type="text"],
	textarea {
		position: relative;
		z-index: 20;
	}

	
	div.error {
		background-repeat: no-repeat;
		.box-sizing(border-box);
		display: block;
		height: 0;
		margin: 0;
		.opacity(0);
		overflow: hidden;
		padding: 0 10px 0 50px;
		.transition(.4s ease);
	}

	.error ~ div.error {
		height: auto;
		margin: 5px 0 0;
		.opacity(100);
		padding: 10px 10px 10px 50px;
		-webkit-animation-duration: .4s;
		animation-duration: .4s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
		z-index: 2;
	}
}


/* Forum
===========================================================================*/

.action-links {
	overflow: hidden;
	padding: 0 0 25px;

	li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-weight: bold;
		}
	}
}

#forum table {
	td.topics,
	td.posts,
	td.replies {
		text-align: center;
	}

	td.container {
		font-weight: bold;
	}

	.description {
		margin: 0;
	}

	.indent {
		margin: 0;
	}
	.name {
		overflow: hidden;
	}
	.description {
		clear: both;
	}
}

.field-name-taxonomy-forums,
.field-type-taxonomy-term-reference {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;

	&.field-label-above {
		padding-top: 0;
	}

	.field-label {
		background: none;
		font: inherit;
		font-weight: bold;
		margin: 0;
		text-shadow: none;
		text-transform: uppercase;
	}

	ul.links {
		margin-bottom: 0;

		li {
			float: left;
			margin: 0 0 5px;
			
			&:before {
				content: ', ';
			}
	
			&:first-child {
				margin-left: 0;
				
				&:before {
					content: '';
				}
			}
	
			a {
				background: none;
				border: none;
				box-shadow: none;
				color: @linkColor;
				display: inline;
				font: inherit;
				padding: 0;
				text-shadow: none;
				text-transform: none;
	
				&:hover {
					background: none;
					text-decoration: underline;
				}
			}
		}
	}
}

.page-forum- #main-wrapper .active img {
	padding: 0;
	background: 0;
	border: none;
	margin-left: 5px;
	margin-top: 4px;
}


/* 404 Page not found
===========================================================================*/

.page-page-404 {
	.panel-col-first {
		color: @linkColor;
		font: bold 250px/200px @baseFontFamily;
		text-align: center;
	}
}

.panel-2col {
	.panel-col-first .inside {
		margin: 0 20px 0 0;
	}

	.panel-2col .panel-col-last .inside {
		margin: 0 0 0 20px;
	}
}


/* Testimonials
===========================================================================*/

.page-testimonials {
	.view-display-id-page {
		.views-row {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		.views-field-field-testi-image{
			float: left;
			margin: 0 20px 0 0;
			max-width: 45%;
			width: 80px;
		}

		.views-field-nothing {
			margin-bottom: 10px;

			p {
				margin-bottom: 0;
			}

			a {
				color: inherit;
				
				&:hover{
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
		
		.views-field-field-testi-author,
		.views-field-field-testi-author-info{
			text-align: right;
		}
	}
}

.field-name-field-testi-image {
	float: left;
	margin: 0 20px 0 0;
	max-width: 45%;
}

.field-name-field-testi-author {
	font-weight: bold;
}


/* Archive
===========================================================================*/

.view-archive {
	.field-name-body {
		margin-bottom: 20px;
	}

	.views-row {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}

	.field-name-taxonomy-forums {
		padding-top: 0;
	}
}


/* FAQs
===========================================================================*/

.view-FAQs.view-id-FAQs {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Compose tips
===========================================================================*/

.compose-tips {
	.filter-type {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Comments page
===========================================================================*/

.view-comments-recent.view-display-id-page {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Employee
===========================================================================*/

.field-name-field-employee-position {
	color: @linkColor;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
}

.field-name-field-employee-facebook{
	margin-left: 0;
}

.field-name-field-employee-facebook,
.field-name-field-employee-twitter,
.field-name-field-employee-google-plus {
	display: inline-block;
	margin-right: 5px;
}

.employee-social-link {
	border: 1px solid @linkColor;
	border-radius: 50%;
	color: transparent;
	display: block;
	font-size: 0;
	height: 28px;
	line-height: 0;
	text-align: center;
	text-decoration: none;
	width: 28px;
	
	&:before {
		color: @linkColor;
		font-size: 16px;
		line-height: 28px;
	}
	
	&:hover {
		border-color: @textColor;
		
		&:before {
			color: @textColor;
		}
	}
}

.node-type-employee .field-name-body {
	padding-top: 20px;
}



/*==========================================================================
9. SIDEBARS and BLOCKS
===========================================================================*/

.sidebar {
	position: relative;

	.block {
		.separator-top;

		&:first-child {
			border-top: 0 !important;
			margin-top: 0 !important;
			padding-top: 0 !important;
		}
	}
}


/* Contextual links
===========================================================================*/

.not-logged-in .contextual-links {
	display: none !important;
}

.contextual-links li {
	padding: 0;
	background: none;
}


/* Calendar
===========================================================================*/

.calendar-calendar {
	table,
	table td,
	table th,
	.month-view .full th.days {
		border:1px solid @borderColor;
	}

	td.calendar-agenda-items,
	.month-view .full td.single-day .calendar-empty,
	.month-view .full td.single-day.empty,
	.month-view .full td.date-box.empty {
		border-color: @borderColor;
	}

	tr,
	tr.odd,
	tr.even {
		td.today {
			background-color: transparent;
			color: @linkColor;
			font-weight: bold;
		}
	}

	th.days {
		background: @altBg;
		border: none;
		color: @textColor;
	}

	td {
		text-align: center;
	}

	td .inner div,
	td .inner div a {
		background: none;
	}

	.month-view .full td.multi-day div.monthview,
	.week-view .full td.multi-day div.weekview,
	.day-view .full td.multi-day div.dayview {
		background: @altBg;
	}

	.day-view .full td .inner div.calendar {
		.views-field-created {
			color: @textColor;
			float: left;
			width: 50px;
		}

		.views-field-title {
			overflow: hidden;
		}
	}

	.month-view .full tr td.single-day.today,
	.month-view .full td.date-box.today {
		border-color: @linkColor;
	}
}

.view-Calendar .pager .date-prev,
.view-Calendar .pager .date-next,
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
	background: none;
	border-radius: 0;
	line-height: 0;
	padding: 0;
	top: 6px;

	a {
		background: @textColor;
		color: transparent;
		display: block;
		font-size: 0;
		height: 22px;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		.transition(all 0.6s ease);
		width: 22px;

		&:before {
			color: #fff;
			font-family: FontAwesome;
			font-size: 12px;
			font-weight: normal;
			left: 50%;
			line-height: 22px;
			margin-left: -5px;
			margin-top: -11px;
			position: absolute;
			top: 50%;
		}

		&:hover {
			background: @linkColor;
		}
	}
}

.view .date-nav-wrapper .date-prev {
	right: auto;
}

.view .date-nav-wrapper .date-prev a:before {
	content: "\f060";
}

.view .date-nav-wrapper .date-next a:before {
	content: "\f061";
}

table .mini-day-on a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Isotop filter
===========================================================================*/

.sidebar #isotope-options #filters {
	text-align: left;

	li {
		margin: 0 10px 5px 0;
	}
}


/* Map
===========================================================================*/

.gmap #gmap1 {
	height: 400px;
}

.gmap #gmap1 img {
	max-width: inherit;
}


/* Our team
===========================================================================*/

#block-views-our-team-block {
	.views-row {
		margin-bottom: 0;
		margin-top: 20px;
		overflow: hidden;

		&.views-row.views-row-first {
			margin-top: 0;
		}

		.views-field-field-employee-photo {
			width: 100px;
			float: left;
			margin-right: 15px;
		}

		.views-field-body {
			margin-bottom: 0;
		}
	}
}


/* Poll's bar
===========================================================================*/

.poll {
	.total,
	.title {
		margin-bottom: 15px;
	}

	.bar {
		background-color: @white;
		border: 1px solid @borderColor;
		height: 20px;
		margin-bottom: 15px;
		padding: 1px;

		.foreground {
			background-color: @linkColor;
			display: none;
			height: 20px;
		}
	}

	.percent {
		float: right;
	}

	.vote-form {
		text-align: left;
		padding-bottom: 15px;

		.choices {
			width: 100%;
		}
	}
}

#block-poll-recent ul.links li {
	background: none;
	padding-left: 0;
}


/* Recent comments
===========================================================================*/

#block-views-comments-recent-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-subject a {
		color: inherit;
		
		&:hover{
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Recent content
===========================================================================*/

.contextual-links-region .node-title a {
	color: inherit;
	
	&:hover{
		color: @linkColor;
		text-decoration: none;
	}
}


/* Recent posts
===========================================================================*/

#block-views-recent-posts-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-body {
		clear: both;
		padding-top: 10px;
	}
}


/* Search
===========================================================================*/
#block-search-form {
	float: right;
	padding: 37px 0 0 25px;
	#search-block-form,
	[id^="search-block-form"] {
		&:hover,&:focus,&:active {
			.container-inline {
				border: 1px solid @linkColor;
			}
		}
		
		input.form-text {
			color: @white !important;
			width: 100px;
		}
		
		[id^=edit-actions] {

			&:after {
				.transition(all 0.3s ease);
				color: @white;
			}
			&:hover:after {
				color: @linkColor;
				background: none;
			}
		}
	}
}
#search-block-form,
[id^="search-block-form"] {
	.element-invisible {
		display: none !important;
	}
	.container-inline {
		.transition(all 0.3s ease);
		border: 1px solid #404b52;
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	
	.form-item-search-block-form{
		display: block;
		margin: 0 30px 0 0;
	}
	
	input.form-text {
		background: none;
		border: none;
		display: block;
		margin: 0;
		width: 100%;
		color: @textColor !important;
	}
	
	[id^=edit-actions] {
		z-index: 1;

		&:after {
			.transition(all 0.3s ease);
			color: @textColor;
			content: "\f002";
			cursor: pointer;
			font: 18px/30px FontAwesome;
			margin-top: -16px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			width: 30px;
			z-index: 1;
		}
		&:hover:after {
			color: @linkColor;
			background: none;
		}
	}
	
	.form-submit {
		background: none;
		border: none;
		border-radius: 0;
		bottom: 0;
		box-shadow: none;
		color: transparent;
		cursor: pointer;
		display: block;
		font-size: 0;
		line-height: 0;
		margin: 0 !important;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		z-index: 2;
		&:hover {
			background: none;
		}
	}
}

/* Sibscribe
===========================================================================*/

.block-simple-subscription-subscribe {
	h2 {
		margin-bottom: 10px;
	}
	.form-item, .form-actions {
		margin: 0;
	}
	input[type="text"] {
		width: 100%;
	}
	form {
		> div {
			position: relative;
			#edit-input {
				color: @altBg !important;
				background: #3d3d3d;
				border: 1px solid @linkColor;
				height: 41px;
				font-style: normal;
				padding: 10px 105px 11px 13px;
				font-size: 12px;
				line-height: 20px;
			}
			.form-submit {
				.transition(all 0.3s ease);
				font-weight: 700;
				position: absolute;
				right: 0;
				top: 0;
				box-sizing: border-box;
				width: 97px;
				height: 41px;
				text-align: center;
				padding: 0;
			}
		}
	}
}


/*==========================================================================
10. SHORTCODES
===========================================================================*/

.progressbar {
	.progressbar-wrap{
		background: @borderColor;
	}
	.progressbar-background {
		background: @linkColor;
	}
}


/*==========================================================================
11. FOOTER TOP
===========================================================================*/

.footer_top_wrapper {
	padding: 31px 0 24px;
	background: @white;
}
.region-footer-top {
	.block {
		margin-bottom: 0;
	}
}

.footer-section-1 {
	padding: 75px 0 0;
}
.border-1 {
	border-bottom: 3px solid #5b5b5b;
	padding: 0 0 60px;
	position: relative;
	&:after {
		.transition(all 0.3s ease);
		content: '';
		display: inline-block;
		width: 1px;
		position: absolute;
		right: 400px;
		bottom: 60px;
		top: 0;
		background: #5b5b5b;
	}
}
/*==========================================================================
12. FOOTER
===========================================================================*/

#footer {
	clear: both;
	padding: 0;
	position: relative;
	background: #3d3d3d;
}
.page-footer {
	color: #bdbebf;
	a {
		color: #bdbebf;
		&:hover {
			color: #dc6226;
		}
	}
	h2 {
		letter-spacing: 0;
		word-spacing: 0;
		color: #bdbebf;
		font-size: 16px;
		line-height: 20px;
		font-family: @baseFontFamily;
		font-weight: 900;
		text-align: left;
		color: #e8eef2;
	}
	ul,
	.item-list ul,
	ul.menu {
		li {
			font-size: 14px;
			line-height: 23px;
			font-family: @baseFontFamily;
			font-style: normal;
			padding: 0;
			margin: 0;
			background: none;
		}
	}
}

.region-footer {
	padding: 45px 0 25px;
	color: @altBg;
}

/* Footer menu
===========================================================================*/

.footer-menu .content ul{
	margin: 0;
	overflow: hidden;
	
	li{
		background: none;
		margin: 0;
		padding: 0;
		font-style: normal;
		line-height: 23px;

		&:first-child {
			margin-left: 0;
		}
		
		a{
			color: inherit;
			text-decoration: none;
			
			&:hover,
			&.active{
				color: @linkColor;
				text-decoration: none;
			}
		}
	}
}


/* Copyright
===========================================================================*/

.block-copyright {
	font-size: 14px;
	.sitename {
		text-transform: uppercase;
		font-weight: 900;
	}
	a {
		color: inherit;
		
		&:hover{
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Back to top
===========================================================================*/

#backtotop {
	background: @textColor;
	border-radius: 50%;
	bottom: 30px;
	color: transparent;
	font-size: 0;
	line-height: 0;
	margin-right: 0 !important;
	padding: 3px 0 7px;
	position: fixed;
	right: 40px !important;
	text-align: center;
	text-decoration: none;
	width: 70px;
	z-index: 5;

	&:after{
		color: #fff;
		content: "\f077";
		font: normal 40px/60px FontAwesome;
	}
	&:hover {
		background-color: @linkColor;
		opacity: 1;
	}
}


/* Switcher
===========================================================================*/

.switcher {
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;

	&:hover {
		text-decoration: underline;
	}
}

.panels-flexible-region-13-center {
	width: 100%;
}


.parallax {
	background: url(../images/parallax.jpg) center top no-repeat;
}

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
