@import url(//fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(//fonts.googleapis.com/css?family=Fjalla+One);
body {
	-webkit-tap-highlight-color:#dc6226;
	background:#fff;
	color:#363636;
	font-family:'Lato', sans-serif;
	font-size:16px;
	line-height:20px;
	min-width:1250px;
	position:relative;
}
#page-wrapper { overflow:hidden; }
h1 {
	color:#404b52;
	font:400 50px/50px 'Fjalla One', sans-serif;
	margin-bottom:34px;
}
h2 {
	color:#404b52;
	letter-spacing:-1px;
	word-spacing:-2px;
	text-transform:uppercase;
	font:400 40px/40px 'Fjalla One', sans-serif;
	margin-bottom:30px;
	text-align:center;
}
h3, #block-tm-follow-user h2 {
	color:#404b52;
	text-transform:uppercase;
	font:400 30px/30px 'Fjalla One', sans-serif;
	margin-bottom:18px;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #d3d3d3;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	color:#404b52;
	font:400 22px/32px 'Lato', sans-serif;
	margin-bottom:20px;
}
h5 {
	color:#404b52;
	text-transform:uppercase;
	font:900 20px/24px 'Lato', sans-serif;
	margin-bottom:10px;
}
h6 {
	color:#404b52;
	font:900 18px/22px 'Lato', sans-serif;
	margin-bottom:5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#dc6226;
	text-decoration:none;
}
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	background:#fff;
	border:1px solid #d3d3d3;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#363636 !important;
	font:16px 'Lato', sans-serif;
	max-width:100%;
	padding:5px 10px 6px;
}
fieldset { border-color:#d3d3d3; }
label { display:inline-block; }
#search-form .form-item { display:block; }
#user-login .form-text, #contact-site-form .form-text, .search-form .form-text { width:100%; }
#contact-site-form label { vertical-align:middle; }
a {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#dc6226;
	text-decoration:none;
}
a:hover {
	color:#9dbed1;
	text-decoration:none;
}
.btn a, .more-link a, input[type="submit"], input[type="reset"], ul.links li a, .view-portfolio .views-field-view-node a, #block-poll-recent ul.links li a, #filters li a, .content ul.pager li a, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a, .form-submit {
	background:#dc6226;
	border:none;
	border-radius:0;
	box-shadow:none;
	color:#fff;
	display:inline-block;
	font:400 16px/22px 'Lato', sans-serif;
	outline:none;
	letter-spacing:1px;
	padding:9px 25px 9px;
	text-decoration:none;
	text-transform:uppercase;
	position:relative;
	z-index:2;
}
.btn a:hover, .more-link a:hover, input[type="submit"]:hover, input[type="reset"]:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover, .form-submit:hover {
	background:#363636;
	color:#fff;
	text-decoration:none;
}
.btn, .more-link { position:relative; }
.btn a, .more-link a { background:none; }
.btn a:hover, .more-link a:hover { background:none; }
.btn span, .more-link span {
	display:inline-block;
	position:relative;
	z-index:1;
}
.btn span:before, .btn span:after, .more-link span:before, .more-link span:after {
	pointer-events:none;
	box-sizing:border-box;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#dc6226;
	border:none;
	content:'';
	-webkit-transform:translateY(0px) translateX(0px);
	-moz-transform:translateY(0px) translateX(0px);
	transform:translateY(0px) translateX(0px);
	-webkit-transition:-webkit-transform 0.5s, opacity 0.5s;
	-moz-transition:-moz-transform 0.5s, opacity 0.5s;
	transition:transform 0.5s, opacity 0.5s;
}
.btn span:after, .more-link span:after {
	background:#404b52;
	opacity:0;
	-webkit-transform:translateY(-7px) translateX(8px);
	-moz-transform:translateY(-7px) translateX(8px);
	transform:translateY(-7px) translateX(8px);
}
.btn span:hover:before, .btn span:focus:before, .more-link span:hover:before, .more-link span:focus:before {
	opacity:0;
	-webkit-transform:translateY(7px) translateX(-8px);
	-moz-transform:translateY(7px) translateX(-8px);
	transform:translateY(7px) translateX(-8px);
}
.btn span:hover:after, .btn span:focus:after, .more-link span:hover:after, .more-link span:focus:after {
	opacity:1;
	-webkit-transform:translateY(0px) translateX(0px);
	-moz-transform:translateY(0px) translateX(0px);
	transform:translateY(0px) translateX(0px);
}
input[type="submit"], input[type="reset"] { padding:7px 20px; }
.more-link {
	padding-top:20px;
	text-align:left;
}
ul, .item-list ul, ul.menu { margin:0 0 20px; }
ul li, .item-list ul li, ul.menu li {
	background:url(../images/list-marker.png) 0 8px no-repeat;
	list-style:none;
	margin:0;
	font-weight:300;
	font-style:italic;
	font-size:18px;
	line-height:30px;
	padding:0 0 0 26px;
}
ul li:first-child, .item-list ul li:first-child, ul.menu li:first-child { margin-top:0; }
ul li a, .item-list ul li a, ul.menu li a {
	color:inherit;
	text-decoration:none;
}
ul li a:hover, .item-list ul li a:hover, ul.menu li a:hover {
	color:#dc6226;
	text-decoration:none;
}
ul li ul, .item-list ul li ul, ul.menu li ul { padding-top:10px; }
ul.tabs li, ul.flex-direction-nav li, ul.links li, ul#admin-menu-menu li, ul#admin-menu-account li, ul#admin-menu-icon li, ul.slides li, ul.contextual-links li, ul.tips li, ul.pager li, .messages.error ul li, .rate-widget ul li {
	background:none;
	font:inherit;
	margin-top:0;
	padding-left:0;
}
.messages.error ul li { list-style:disc; }
#admin-menu, #admin-menu .dropdown { z-index:10000; }
img {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:auto;
	max-width:100%;
	width:auto;
}
img.lazyloader-icon { width:auto !important; }
.frame, .field-type-image, .views-field-field-image, .views-field-field-blog-media, .view-portfolio .isotope-element .views-field-field-portfolio-image, .field-name-field-blog-media, .field-name-field-image, .field-name-field-portfolio-image, .field-name-field-service-image, .field-name-field-employee-photo, .field-name-field-banner-image, .field-name-field-slide-image {
	margin-bottom:20px;
	position:relative;
	padding:6px;
	background:#fff;
	-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	-moz-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	box-shadow:0 4px 4px rgba(0,0,0,0.15);
}
.field-name-field-banner-image {
	box-shadow:none;
	padding:0;
}
.user-picture {
	background:none;
	float:left;
	margin-right:15px;
	max-width:45%;
	padding:0;
}
.profile .user-picture {
	float:right;
	margin:0 0 0 20px;
}
p { margin-bottom:20px; }
table { margin-bottom:0; }
table tr.odd, table tr.even { border:none; }
table tr.odd { background:transparent; }
table tr.even { background:#e8eef2; }
table th {
	background:#e8eef2;
	border:none;
	color:#dc6226;
	font-size:14px;
	padding:5px;
}
table th a { color:inherit; }
table th a:hover {
	color:#dc6226;
	text-decoration:none;
}
table td { padding:5px; }
.extra-wrap { overflow:hidden; }
.wrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}
.clearfix { position:relative; }
.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.fclear { clear:both; }
.l-clear { clear:left; }
.separator {
	clear:both;
	height:40px;
}
.separator-top {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.separator-bottom {
	border-bottom:0;
	margin-bottom:50px;
	padding-bottom:0;
}
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.style-1 {
	font-size:22px;
	line-height:32px;
}
.style-2 {
	font-weight:300;
	font-size:18px;
	line-height:27px;
}
.indent-1 { margin-bottom:90px; }
.indent-2 { margin-bottom:17px; }
.indent-3 { padding:0 100px; }
.img-indent { margin-bottom:40px; }
.img-left {
	float:left;
	margin:0 30px 20px 0;
	max-width:40%;
}
.img-style {
	padding:6px;
	background:#fff;
	-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	-moz-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	box-shadow:0 4px 4px rgba(0,0,0,0.15);
}
.region-header-top:after, .region-slider-content:after, .region-header:after, .region-header-bottom:after, .region-parallax-1:after, .region-content-top:after, .region-content:after, .region-menu:after, .region-content-bottom:after, .region-footer-left:after, .region-footer-right:after, .region-footer-top:after, .region-footer:after, .region-map-content:after, .view-content:after {
	clear:both;
	content:'';
	display:block;
	width:100%;
	overflow:hidden;
}
.region .block { margin-bottom:20px; }
.views-row { margin-bottom:20px; }
.video-bg .region, .img-bg .region {
	padding-bottom:20px;
	padding-top:20px;
}
.video-bg .region-parallax-1, .img-bg .region-parallax-1 { padding:65px 0 50px; }
.region-slider-content {
	padding:0 0 28px;
	background:#e8eef2;
	border-bottom:1px solid #dae0e4;
}
.region-slider-content .block { margin-bottom:0; }
.video-bg { background:url(../images/ajax-loader.gif) center center no-repeat; }
.region-map-content .block { margin-bottom:0; }
::selection, ::-moz-selection {
	background:#dc6226;
	color:#fff;
	text-shadow:none;
}
img::selection, img::-moz-selection { background:transparent; }
.region-header-top { margin-bottom:30px; }
#header {
	position:relative;
	width:100%;
}
.header-section-1 {
	background:#404b52;
	position:relative;
}
.header-section-1:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.header-section-1 .col1 {
	float:left;
	padding:42px 0 30px;
}
.header-section-1 .col2 { float:right; }
.header-section-2 {
	background:#fff url(../images/bg-1.png) center top no-repeat;
	padding:100px 0 70px;
}
.page-about .header-section-2 { background:#e8eef2; }
.page-services .region-content {
	background:#fff url(../images/bg-1.png) center top no-repeat;
	background-size:100%;
}
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:9999;
}
.isStuck {
	left:0;
	right:0;
	top:0;
}
.site-name { margin-bottom:0; }
.site-name a:hover {
	color:inherit;
	text-decoration:none;
}
.select-menu { display:none !important; }
#block-superfish-1 {
	margin:0;
	float:right;
}
#superfish-1 {
	background:none;
	margin-bottom:0;
	padding:0;
	width:auto;
	z-index:101;
	position:relative;
}
#superfish-1:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#superfish-1 > li {
	background:none;
	border:0;
	font:700 14px/20px 'Lato', sans-serif;
	margin:0;
	overflow:inherit;
	padding:0;
	text-transform:uppercase;
}
#superfish-1 > li:first-child { margin-left:0; }
#superfish-1 > li > a {
	padding:41px 15px;
	color:#fff;
	text-decoration:none;
}
#superfish-1 > li > a .sf-sub-indicator {
	background:none;
	display:none;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li > a:hover, #superfish-1 > li.active-trail > a, #superfish-1 > li.sfHover > a {
	color:#fff;
	text-decoration:none;
	background:#dc6226;
}
#superfish-1 > li ul {
	background:#dc6226;
	display:none;
	padding:15px 0 11px;
	top:102px;
	width:120px !important;
}
#superfish-1 > li ul li {
	font-style:normal;
	background:none;
	border-bottom:0;
	float:none !important;
	font-size:12px;
	height:auto;
	padding:0 15px;
	width:auto !important;
}
#superfish-1 > li ul li > a:visited, #superfish-1 > li ul li > a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator, #superfish-1 > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
	color:#2b1915;
	text-decoration:none;
}
#superfish-1 > li ul li ul {
	left:101% !important;
	top:-15px;
}
#superfish-1 .sf-megamenu { width:auto !important; }
#superfish-1 .sf-megamenu > li > ol {
	vertical-align:top;
	white-space:nowrap;
}
#superfish-1 .sf-megamenu > li > ol > li {
	display:inline-block;
	margin:0 0 0 15px;
	padding:0;
	vertical-align:top;
	width:120px !important;
	white-space:normal;
}
#superfish-1 .sf-megamenu > li > ol > li:first-child { margin-left:0; }
#superfish-1 .sf-megamenu > li > ol > li a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li a:hover, #superfish-1 .sf-megamenu > li > ol > li a.active, #superfish-1 .sf-megamenu > li > ol > li.active-trail > a, #superfish-1 .sf-megamenu > li > ol > li.sfHover > a {
	color:#2b1915;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li ol { padding:0; }
#superfish-1 .sf-megamenu > li > ol > li ol li {
	display:block;
	float:none !important;
	margin-left:0;
	padding:0;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
}
.flexslider img {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
#flexslider-1 .slides li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	padding:0;
}
#flexslider-1 .slides li img { width:100%; }
#flexslider-1 .flex-control-nav {
	bottom:20px;
	font-size:0;
	line-height:0;
	z-index:20;
}
#flexslider-1 .flex-control-nav li a { box-shadow:none; }
#flexslider-1 .flex-control-thumbs {
	padding:26px 0 0;
	margin:0;
	position:relative;
	bottom:0;
	left:50%;
	width:1050px;
	margin:0 0 0 -525px;
	overflow:visible;
}
#flexslider-1 .flex-control-thumbs:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#flexslider-1 .flex-control-thumbs li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	width:23.5%;
	overflow:hidden;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	background:#000;
}
#flexslider-1 .flex-control-thumbs li+li { margin-left:2%; }
#flexslider-1 .flex-control-thumbs li img {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	opacity:.8;
	height:130px;
	width:auto;
	max-width:none;
	position:relative;
	margin:0 0 0 -250px;
	left:50%;
}
#flexslider-1 .flex-control-thumbs li img.flex-active, #flexslider-1 .flex-control-thumbs li img:hover { opacity:1; }
#flexslider-1 .flex-direction-nav a:before { line-height:40px; }
#flexslider-1:hover .flex-next {
	opacity:1;
	right:0;
}
#flexslider-1:hover .flex-prev {
	opacity:1;
	left:0;
}
#flexslider-1 .flex-caption {
	font-size:16px;
	line-height:22px;
	top:50%;
	left:50%;
	margin:-75px 0 0 -585px;
	position:absolute;
	min-width:575px;
	z-index:99;
}
#flexslider-1 .flex-caption h2 {
	text-align:left;
	margin-bottom:5px;
}
#flexslider-1 .flex-caption h2 a {
	color:#fff;
	display:block;
	padding:31px 10px 25px 25px;
	position:relative;
}
#flexslider-1 .flex-caption h2 a:before, #flexslider-1 .flex-caption h2 a:after {
	pointer-events:none;
	box-sizing:border-box;
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#dc6226;
	border:none;
	content:'';
	-webkit-transform:translateY(0px) translateX(0px);
	-moz-transform:translateY(0px) translateX(0px);
	transform:translateY(0px) translateX(0px);
	-webkit-transition:-webkit-transform 0.5s, opacity 0.5s;
	-moz-transition:-moz-transform 0.5s, opacity 0.5s;
	transition:transform 0.5s, opacity 0.5s;
}
#flexslider-1 .flex-caption h2 a:after {
	background:#404b52;
	opacity:0;
	-webkit-transform:translateY(-15px) translateX(12px);
	-moz-transform:translateY(-15px) translateX(12px);
	transform:translateY(-15px) translateX(12px);
}
#flexslider-1 .flex-caption h2 a:hover:before, #flexslider-1 .flex-caption h2 a:focus:before {
	opacity:0;
	-webkit-transform:translateY(15px) translateX(-12px);
	-moz-transform:translateY(15px) translateX(-12px);
	transform:translateY(15px) translateX(-12px);
}
#flexslider-1 .flex-caption h2 a:hover:after, #flexslider-1 .flex-caption h2 a:focus:after {
	opacity:1;
	-webkit-transform:translateY(0px) translateX(0px);
	-moz-transform:translateY(0px) translateX(0px);
	transform:translateY(0px) translateX(0px);
}
#flexslider-1 .flex-caption .slide-body {
	padding:12px 15px 15px 25px;
	color:#404b52;
	background:#fff;
}
.header_bottom_wrapper {
	background:#fff;
	padding:95px 0 80px;
}
.content_top_wrapper {
	background:#e8eef2;
	padding:90px 0 60px;
}
#main-wrapper { padding:0px 0 0px; }
#main { padding:95px 0 60px; }
.front #main, .page-about #main, .page-services #main { padding-bottom:0; }
#block-system-main { margin-bottom:0; }
.region-content { padding:0; }
div.messages {
	margin-bottom:30px;
	padding-right:30px;
}
div.messages .dismiss {
	box-shadow:none;
	border-radius:2px;
	font-family:'Lato', sans-serif;
	line-height:normal;
	padding:2px 6px 4px;
	text-transform:lowercase;
	width:auto;
}
div.messages .dismiss:hover {
	color:#fff;
	text-shadow:none;
}
#breadcrumb {
	color:#363636;
	margin-bottom:30px;
	padding:0;
}
#breadcrumb a {
	color:inherit;
	padding:0 3px;
	text-decoration:none;
}
#breadcrumb a:first-child { padding-left:0; }
#breadcrumb a:last-child { padding-right:0; }
#breadcrumb a:hover { color:#dc6226; }
.tabs-wrapper { margin:1px 0 20px; }
.tabs { overflow:hidden; }
.tabs ul.primary {
	border:0;
	border-bottom:1px solid #d3d3d3;
	margin:0 0 20px;
	overflow:hidden;
	padding:4px 0;
}
.tabs ul.primary li { margin-bottom:-1px; }
.tabs ul.primary li a {
	background:#fff;
	border:1px solid #d3d3d3;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#363636;
	font-size:12px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:3px 15px 4px;
	text-shadow:none;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.tabs ul.primary li.active a, .tabs ul.primary li a:hover {
	background:#dc6226;
	border-color:#d15b22;
	color:#fff;
	text-decoration:none;
}
.portfolio-filters { margin-bottom:40px; }
.tm-masonry-filter {
	margin:0;
	padding:0;
	text-align:center;
}
.tm-masonry-filter li {
	background:none;
	display:inline-block;
	padding:0;
}
.tm-masonry-filter li:before {
	background-color:#dc6226;
	bottom:3px;
	content:"";
	display:inline-block;
	height:5px;
	margin:0 10px;
	position:relative;
	width:5px;
}
.tm-masonry-filter li:firts-child:before { display:none; }
.tm-masonry-filter li a {
	color:#363636;
	text-decoration:none;
}
.tm-masonry-filter li a.active, .tm-masonry-filter li a:hover { color:#dc6226; }
.tm-masonry-item { position:relative; }
.tm-masonry-item .field-type-image {
	float:none !important;
	max-width:100% !important;
	text-align:center;
	width:100% !important;
}
.tm-masonry-item .node-header {
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-title {
	font-weight:400;
	margin:0;
	position:relative;
}
.tm-masonry-item a.colorbox {
	background:#fff;
	text-align:center;
}
.tm-masonry-item a.colorbox:after {
	background:none;
	color:#000;
	content:"\f00e";
	font:30px/30px FontAwesome;
	left:51%;
	margin:-15px 0 0 0;
	position:absolute;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item a.colorbox:hover img {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.tm-masonry-item .node-footer {
	margin:-15px 0 0 0;
	padding:0;
	position:absolute;
	right:51%;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-footer .node-readmore a {
	background:none;
	color:transparent;
	font-size:0;
	line-height:0;
	padding:0;
}
.tm-masonry-item .node-footer .node-readmore a:after {
	color:#000;
	content:"\f0c1";
	font:30px/30px FontAwesome;
}
.tm-masonry-item:hover .node-footer, .tm-masonry-item:hover a.colorbox:after { top:40%; }
.tm-masonry-item:hover .node-header { top:60%; }
#block-views-banners-block .view-content {
	display:table;
	table-layout:fixed;
	width:100%;
}
#block-views-banners-block .view-content:after { display:none; }
#block-views-banners-block .views-row {
	display:table-cell;
	margin-bottom:0;
}
#block-views-banners-block .views-row a img {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
}
#block-views-banners-block .views-row a:hover img {
	-webkit-animation-name:pop;
	animation-name:pop;
	-webkit-animation-duration:0.3s;
	animation-duration:0.3s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
}
#block-views-risk-services-block, #block-views-financial-services-block { margin-bottom:0; }
#block-views-risk-services-block .views-row, #block-views-financial-services-block .views-row { margin-bottom:80px !important; }
#block-views-risk-services-block .views-field-field-risk-setrvice-image, #block-views-risk-services-block .views-field-field-financial-setrvice-image, #block-views-financial-services-block .views-field-field-risk-setrvice-image, #block-views-financial-services-block .views-field-field-financial-setrvice-image { margin-bottom:40px; }
#block-views-our-team-block-1 .views-row { margin-bottom:80px !important; }
#block-views-our-team-block-1 .views-row a { color:#404b52; }
#block-views-our-team-block-1 .views-row a:hover { color:#dc6226; }
#block-views-our-team-block-1 .views-row .views-field-field-employee-position { color:#dc6226; }
#block-views-our-team-block-1 .views-row .views-field-field-employee-photo { margin-bottom:40px; }
#block-views-article-block .views-field-field-article-media {
	float:left;
	width:570px;
	max-width:50%;
	margin:0 30px 0 0;
}
#block-block-10 dl dt, #block-block-10 dl dd {
	font-size:14px;
	line-height:23px;
	font-weight:400;
	padding:0;
	margin:0;
}
#block-block-10 dl dd span {
	display:inline-block;
	width:75px;
}
#block-tm-follow-site { margin-bottom:95px; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper {
	font-size:31px;
	line-height:31px;
	margin-left:30px;
}
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper:first-child { margin-left:0; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a { color:#e8eef2; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a:hover { color:#dc6226; }
#block-views-services-block, #block-views-solutions-block { margin-bottom:0; }
#block-views-services-block .views-row, #block-views-solutions-block .views-row { margin-bottom:93px !important; }
#block-views-services-block .views-field-field-service-image, #block-views-services-block .views-field-field-solution-image, #block-views-solutions-block .views-field-field-service-image, #block-views-solutions-block .views-field-field-solution-image { margin-bottom:30px; }
#block-views-testimonials-block {
	padding:60px 0;
	margin-bottom:0;
	position:relative;
}
#block-views-testimonials-block:after, #block-views-testimonials-block:before {
	display:inline-block;
	width:51px;
	height:43px;
	position:absolute;
	content:'';
}
#block-views-testimonials-block:after {
	right:10px;
	bottom:0;
	background:url(../images/quote-2.png) 0 0 no-repeat;
}
#block-views-testimonials-block:before {
	left:5px;
	top:0;
	background:url(../images/quote-1.png) 0 0 no-repeat;
}
#block-views-testimonials-block .testi-content {
	background:#fff;
	border-radius:10px;
	padding:30px 90px 25px 45px;
}
#block-views-testimonials-block .testi-content .testi-photo {
	float:left;
	margin:0 30px 0 0;
	width:99px;
}
#block-views-testimonials-block .testi-content .testi-photo img { border-radius:100px; }
#block-views-testimonials-block .testi-content .testi-meta {
	padding:17px 0 0;
	color:#dc6226;
}
#block-views-testimonials-block .testi-content a {
	font-size:14px;
	line-height:21px;
	color:#363636;
}
#block-views-testimonials-block .testi-content a:hover { color:#dc6226; }
.content_bottom_wrapper {
	background:#e8eef2;
	padding:100px 0 30px;
}
#isotope-container {
	margin-left:-10px;
	margin-right:-10px;
}
.isotope-element {
	background:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:inherit;
	margin:0 10px 30px;
	height:auto;
	overflow:visible;
	padding:0;
	position:relative;
	width:auto;
}
.isotope-element .views-field-field-portfolio-image {
	background:url(../images/ajax-loader.gif) center center no-repeat #fff;
	margin-bottom:25px;
}
.isotope-element .views-field-field-portfolio-image a {
	background:#fff;
	display:block;
	overflow:hidden;
	position:relative;
	text-decoration:none;
}
.isotope-element .views-field-field-portfolio-image a:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background:none;
	color:#dc6226;
	content:"\f00e";
	font:0px/80px FontAwesome;
	left:50%;
	margin:-40px 0 0 -40px;
	position:absolute;
	top:50%;
	z-index:999;
}
.isotope-element .views-field-field-portfolio-image a:hover:after { font-size:80px; }
.isotope-element .views-field-field-portfolio-image img { width:100%; }
.isotope-element .views-field-body { margin-bottom:25px; }
#isotope-options { background:none; }
#isotope-options #filters {
	margin-bottom:20px;
	text-align:right;
}
#isotope-options #filters li {
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
	padding:0;
	background:none;
}
.field-name-field-portfolio-category ul {
	float:left;
	overflow:hidden;
}
.field-name-field-portfolio-category ul:before {
	content:"\f02e";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.page-blog .content-header ul { margin-bottom:0; }
.page-blog .content-header ul li {
	background:none;
	padding:0;
}
.node {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.node:first-child {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.node-header { margin-bottom:20px; }
.node-submitted { margin:0; }
.node-submitted .fa {
	color:#dc6226;
	margin-right:5px;
}
.node-submitted a { color:inherit; }
.node-submitted a:hover {
	color:#dc6226;
	text-decoration:none;
}
.node-submitted .node-author, .node-submitted .node-time, .node-submitted .node-views { margin-right:7px; }
.node-teaser .field-type-file, .node-teaser .field-type-image, .node-employee .field-type-image {
	margin:0 0 25px;
	padding:6px;
	background:#fff;
	-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	-moz-box-shadow:0 4px 4px rgba(0,0,0,0.15);
	box-shadow:0 4px 4px rgba(0,0,0,0.15);
}
.media-vimeo-video { padding-bottom:50.2%; }
.node-teaser .media-vimeo-video { padding-bottom:63.2%; }
.media-youtube-video { padding-bottom:50.2%; }
.node-teaser .media-youtube-video { padding-bottom:63.2%; }
.media-vimeo-video, .media-youtube-video {
	height:0;
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.media-vimeo-video iframe, .media-youtube-video iframe {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.field-name-field-article-media { margin-bottom:30px; }
.links { list-style:none; }
.links li {
	display:inline-block !important;
	margin-bottom:5px;
	margin-right:5px;
}
.content ul.pager {
	margin-top:30px;
	text-align:left;
}
.content ul.pager li {
	margin:0px 1px 5px;
	padding:0;
	display:inline-block;
}
.node-footer { padding-top:30px; }
.node-footer .field-name-field-tags { padding-top:20px; }
.node-footer .field-name-field-tags .field-label {
	background:none;
	float:left;
	font:inherit;
	font-weight:bold;
	margin-right:15px;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.node-footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
.node-footer .field-name-field-tags ul li {
	float:left;
	margin:0 0 5px 10px;
}
.node-footer .field-name-field-tags ul li:first-child { margin-left:0; }
.node-footer .field-name-field-tags ul li a {
	font:inherit;
	font-weight:bold;
	padding:2px 8px;
}
.field-name-field-blog-tags ul {
	float:left;
	overflow:hidden;
}
.field-name-field-blog-tags ul:before {
	content:"\f02c";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.addthis_button_compact { margin:0; }
.likebtn_container { padding-top:4px; }
#comments {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comments .indented { margin-left:20px; }
.comment {
	background:transparent;
	border:1px solid #d3d3d3;
	margin-bottom:10px;
	padding:25px;
}
.comment .comment-submitted { margin:0 0 5px; }
.comment .comment-content { margin-bottom:20px; }
.comment .comment-footer { padding:0; }
#comment-form-wrapper {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comment-form .form-item {
	margin:0 0 15px;
	overflow:hidden;
	width:100%;
}
#comment-form label { vertical-align:middle; }
#comment-form .form-type-item label {
	float:left;
	padding-right:10px;
}
#comment-form .form-text { width:100%; }
#comment-form .form-textarea {
	height:200px;
	width:100%;
}
#comment-form .filter-wrapper {
	border:none;
	padding:0;
}
#comment-form .filter-wrapper .fieldset-wrapper > * { padding:0; }
#comment-form .filter-wrapper .filter-help { padding-top:15px; }
#comment-form .filter-wrapper .filter-help a {
	background:none;
	display:inline-block;
	padding:0;
}
#comment-form .filter-wrapper .form-item { width:auto; }
#comment-form .filter-wrapper label {
	display:inline-block;
	margin-right:15px;
}
#comment-form .form-actions {
	margin:0;
	padding-top:20px;
}
#comment-form .form-actions #edit-submit { margin-right:5px; }
#edit-comment-body-und-0-format-guidelines { clear:both; }
#edit-comment-body-und-0-format-guidelines ul { font:inherit; }
#edit-comment-body-und-0-format-guidelines ul li {
	background:none;
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.panels-flexible-region-11-contacts {
	float:none;
	width:100%;
}
.contact-form .form-item { position:relative; }
.contact-form input[type="text"], .contact-form textarea {
	position:relative;
	z-index:20;
}
.contact-form div.error {
	background-repeat:no-repeat;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:0;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
	overflow:hidden;
	padding:0 10px 0 50px;
	-moz-transition:.4s ease;
	-o-transition:.4s ease;
	-webkit-transition:.4s ease;
	transition:.4s ease;
}
.contact-form .error ~ div.error {
	height:auto;
	margin:5px 0 0;
	opacity:1;
	filter:alpha(opacity=100);
	padding:10px 10px 10px 50px;
	-webkit-animation-duration:.4s;
	animation-duration:.4s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown;
	z-index:2;
}
.action-links {
	overflow:hidden;
	padding:0 0 25px;
}
.action-links li {
	float:left;
	margin-left:10px;
}
.action-links li:first-child { margin-left:0; }
.action-links li a { font-weight:bold; }
#forum table td.topics, #forum table td.posts, #forum table td.replies { text-align:center; }
#forum table td.container { font-weight:bold; }
#forum table .description { margin:0; }
#forum table .indent { margin:0; }
#forum table .name { overflow:hidden; }
#forum table .description { clear:both; }
.field-name-taxonomy-forums, .field-type-taxonomy-term-reference {
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
.field-name-taxonomy-forums.field-label-above, .field-type-taxonomy-term-reference.field-label-above { padding-top:0; }
.field-name-taxonomy-forums .field-label, .field-type-taxonomy-term-reference .field-label {
	background:none;
	font:inherit;
	font-weight:bold;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.field-name-taxonomy-forums ul.links, .field-type-taxonomy-term-reference ul.links { margin-bottom:0; }
.field-name-taxonomy-forums ul.links li, .field-type-taxonomy-term-reference ul.links li {
	float:left;
	margin:0 0 5px;
}
.field-name-taxonomy-forums ul.links li:before, .field-type-taxonomy-term-reference ul.links li:before { content:', '; }
.field-name-taxonomy-forums ul.links li:first-child, .field-type-taxonomy-term-reference ul.links li:first-child { margin-left:0; }
.field-name-taxonomy-forums ul.links li:first-child:before, .field-type-taxonomy-term-reference ul.links li:first-child:before { content:''; }
.field-name-taxonomy-forums ul.links li a, .field-type-taxonomy-term-reference ul.links li a {
	background:none;
	border:none;
	box-shadow:none;
	color:#dc6226;
	display:inline;
	font:inherit;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.field-name-taxonomy-forums ul.links li a:hover, .field-type-taxonomy-term-reference ul.links li a:hover {
	background:none;
	text-decoration:underline;
}
.page-forum- #main-wrapper .active img {
	padding:0;
	background:0;
	border:none;
	margin-left:5px;
	margin-top:4px;
}
.page-page-404 .panel-col-first {
	color:#dc6226;
	font:bold 250px/200px 'Lato', sans-serif;
	text-align:center;
}
.panel-2col .panel-col-first .inside { margin:0 20px 0 0; }
.panel-2col .panel-2col .panel-col-last .inside { margin:0 0 0 20px; }
.page-testimonials .view-display-id-page .views-row { margin-top:30px; }
.page-testimonials .view-display-id-page .views-row:first-child { margin-top:0; }
.page-testimonials .view-display-id-page .views-field-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
	width:80px;
}
.page-testimonials .view-display-id-page .views-field-nothing { margin-bottom:10px; }
.page-testimonials .view-display-id-page .views-field-nothing p { margin-bottom:0; }
.page-testimonials .view-display-id-page .views-field-nothing a { color:inherit; }
.page-testimonials .view-display-id-page .views-field-nothing a:hover {
	color:#dc6226;
	text-decoration:none;
}
.page-testimonials .view-display-id-page .views-field-field-testi-author, .page-testimonials .view-display-id-page .views-field-field-testi-author-info { text-align:right; }
.field-name-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
}
.field-name-field-testi-author { font-weight:bold; }
.view-archive .field-name-body { margin-bottom:20px; }
.view-archive .views-row { margin-top:40px; }
.view-archive .views-row:first-child { margin-top:0; }
.view-archive .field-name-taxonomy-forums { padding-top:0; }
.view-FAQs.view-id-FAQs .views-row { margin-top:30px; }
.view-FAQs.view-id-FAQs .views-row:first-child { margin-top:0; }
.compose-tips .filter-type { margin-top:40px; }
.compose-tips .filter-type:first-child { margin-top:0; }
.view-comments-recent.view-display-id-page .views-row { margin-top:30px; }
.view-comments-recent.view-display-id-page .views-row:first-child { margin-top:0; }
.field-name-field-employee-position {
	color:#dc6226;
	font-size:15px;
	line-height:20px;
	margin-bottom:5px;
}
.field-name-field-employee-facebook { margin-left:0; }
.field-name-field-employee-facebook, .field-name-field-employee-twitter, .field-name-field-employee-google-plus {
	display:inline-block;
	margin-right:5px;
}
.employee-social-link {
	border:1px solid #dc6226;
	border-radius:50%;
	color:transparent;
	display:block;
	font-size:0;
	height:28px;
	line-height:0;
	text-align:center;
	text-decoration:none;
	width:28px;
}
.employee-social-link:before {
	color:#dc6226;
	font-size:16px;
	line-height:28px;
}
.employee-social-link:hover { border-color:#363636; }
.employee-social-link:hover:before { color:#363636; }
.node-type-employee .field-name-body { padding-top:20px; }
.sidebar { position:relative; }
.sidebar .block {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.sidebar .block:first-child {
	border-top:0 !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
.not-logged-in .contextual-links { display:none !important; }
.contextual-links li {
	padding:0;
	background:none;
}
.calendar-calendar table, .calendar-calendar table td, .calendar-calendar table th, .calendar-calendar .month-view .full th.days { border:1px solid #d3d3d3; }
.calendar-calendar td.calendar-agenda-items, .calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty { border-color:#d3d3d3; }
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color:transparent;
	color:#dc6226;
	font-weight:bold;
}
.calendar-calendar th.days {
	background:#e8eef2;
	border:none;
	color:#363636;
}
.calendar-calendar td { text-align:center; }
.calendar-calendar td .inner div, .calendar-calendar td .inner div a { background:none; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview { background:#e8eef2; }
.calendar-calendar .day-view .full td .inner div.calendar .views-field-created {
	color:#363636;
	float:left;
	width:50px;
}
.calendar-calendar .day-view .full td .inner div.calendar .views-field-title { overflow:hidden; }
.calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color:#dc6226; }
.view-Calendar .pager .date-prev, .view-Calendar .pager .date-next, .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
	background:none;
	border-radius:0;
	line-height:0;
	padding:0;
	top:6px;
}
.view-Calendar .pager .date-prev a, .view-Calendar .pager .date-next a, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	background:#363636;
	color:transparent;
	display:block;
	font-size:0;
	height:22px;
	line-height:0;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:22px;
}
.view-Calendar .pager .date-prev a:before, .view-Calendar .pager .date-next a:before, .view .date-nav-wrapper .date-prev a:before, .view .date-nav-wrapper .date-next a:before {
	color:#fff;
	font-family:FontAwesome;
	font-size:12px;
	font-weight:normal;
	left:50%;
	line-height:22px;
	margin-left:-5px;
	margin-top:-11px;
	position:absolute;
	top:50%;
}
.view-Calendar .pager .date-prev a:hover, .view-Calendar .pager .date-next a:hover, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover { background:#dc6226; }
.view .date-nav-wrapper .date-prev { right:auto; }
.view .date-nav-wrapper .date-prev a:before { content:"\f060"; }
.view .date-nav-wrapper .date-next a:before { content:"\f061"; }
table .mini-day-on a { text-decoration:none; }
table .mini-day-on a:hover { text-decoration:underline; }
.sidebar #isotope-options #filters { text-align:left; }
.sidebar #isotope-options #filters li { margin:0 10px 5px 0; }
.gmap #gmap1 { height:400px; }
.gmap #gmap1 img { max-width:inherit; }
#block-views-our-team-block .views-row {
	margin-bottom:0;
	margin-top:20px;
	overflow:hidden;
}
#block-views-our-team-block .views-row.views-row.views-row-first { margin-top:0; }
#block-views-our-team-block .views-row .views-field-field-employee-photo {
	width:100px;
	float:left;
	margin-right:15px;
}
#block-views-our-team-block .views-row .views-field-body { margin-bottom:0; }
.poll .total, .poll .title { margin-bottom:15px; }
.poll .bar {
	background-color:#fff;
	border:1px solid #d3d3d3;
	height:20px;
	margin-bottom:15px;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#dc6226;
	display:none;
	height:20px;
}
.poll .percent { float:right; }
.poll .vote-form {
	text-align:left;
	padding-bottom:15px;
}
.poll .vote-form .choices { width:100%; }
#block-poll-recent ul.links li {
	background:none;
	padding-left:0;
}
#block-views-comments-recent-block .views-row { margin-top:20px; }
#block-views-comments-recent-block .views-row:first-child { margin-top:0; }
#block-views-comments-recent-block .views-field-subject a { color:inherit; }
#block-views-comments-recent-block .views-field-subject a:hover {
	color:#dc6226;
	text-decoration:none;
}
.contextual-links-region .node-title a { color:inherit; }
.contextual-links-region .node-title a:hover {
	color:#dc6226;
	text-decoration:none;
}
#block-views-recent-posts-block .views-row { margin-top:20px; }
#block-views-recent-posts-block .views-row:first-child { margin-top:0; }
#block-views-recent-posts-block .views-field-body {
	clear:both;
	padding-top:10px;
}
#block-search-form {
	float:right;
	padding:37px 0 0 25px;
}
#block-search-form #search-block-form:hover .container-inline, #block-search-form #search-block-form:focus .container-inline, #block-search-form #search-block-form:active .container-inline, #block-search-form [id^="search-block-form"]:hover .container-inline, #block-search-form [id^="search-block-form"]:focus .container-inline, #block-search-form [id^="search-block-form"]:active .container-inline { border:1px solid #dc6226; }
#block-search-form #search-block-form input.form-text, #block-search-form [id^="search-block-form"] input.form-text {
	color:#fff !important;
	width:100px;
}
#block-search-form #search-block-form [id^=edit-actions]:after, #block-search-form [id^="search-block-form"] [id^=edit-actions]:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#fff;
}
#block-search-form #search-block-form [id^=edit-actions]:hover:after, #block-search-form [id^="search-block-form"] [id^=edit-actions]:hover:after {
	color:#dc6226;
	background:none;
}
#search-block-form .element-invisible, [id^="search-block-form"] .element-invisible { display:none !important; }
#search-block-form .container-inline, [id^="search-block-form"] .container-inline {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	border:1px solid #404b52;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
}
#search-block-form .form-item-search-block-form, [id^="search-block-form"] .form-item-search-block-form {
	display:block;
	margin:0 30px 0 0;
}
#search-block-form input.form-text, [id^="search-block-form"] input.form-text {
	background:none;
	border:none;
	display:block;
	margin:0;
	width:100%;
	color:#363636 !important;
}
#search-block-form [id^=edit-actions], [id^="search-block-form"] [id^=edit-actions] { z-index:1; }
#search-block-form [id^=edit-actions]:after, [id^="search-block-form"] [id^=edit-actions]:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#363636;
	content:"\f002";
	cursor:pointer;
	font:18px/30px FontAwesome;
	margin-top:-16px;
	position:absolute;
	right:0;
	text-align:center;
	top:50%;
	width:30px;
	z-index:1;
}
#search-block-form [id^=edit-actions]:hover:after, [id^="search-block-form"] [id^=edit-actions]:hover:after {
	color:#dc6226;
	background:none;
}
#search-block-form .form-submit, [id^="search-block-form"] .form-submit {
	background:none;
	border:none;
	border-radius:0;
	bottom:0;
	box-shadow:none;
	color:transparent;
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	margin:0 !important;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	z-index:2;
}
#search-block-form .form-submit:hover, [id^="search-block-form"] .form-submit:hover { background:none; }
.block-simple-subscription-subscribe h2 { margin-bottom:10px; }
.block-simple-subscription-subscribe .form-item, .block-simple-subscription-subscribe .form-actions { margin:0; }
.block-simple-subscription-subscribe input[type="text"] { width:100%; }
.block-simple-subscription-subscribe form > div { position:relative; }
.block-simple-subscription-subscribe form > div #edit-input {
	color:#e8eef2 !important;
	background:#3d3d3d;
	border:1px solid #dc6226;
	height:41px;
	font-style:normal;
	padding:10px 105px 11px 13px;
	font-size:12px;
	line-height:20px;
}
.block-simple-subscription-subscribe form > div .form-submit {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	font-weight:700;
	position:absolute;
	right:0;
	top:0;
	box-sizing:border-box;
	width:97px;
	height:41px;
	text-align:center;
	padding:0;
}
.progressbar .progressbar-wrap { background:#d3d3d3; }
.progressbar .progressbar-background { background:#dc6226; }
.footer_top_wrapper {
	padding:31px 0 24px;
	background:#fff;
}
.region-footer-top .block { margin-bottom:0; }
.footer-section-1 { padding:75px 0 0; }
.border-1 {
	border-bottom:3px solid #5b5b5b;
	padding:0 0 60px;
	position:relative;
}
.border-1:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	content:'';
	display:inline-block;
	width:1px;
	position:absolute;
	right:400px;
	bottom:60px;
	top:0;
	background:#5b5b5b;
}
#footer {
	clear:both;
	padding:0;
	position:relative;
	background:#3d3d3d;
}
.page-footer { color:#bdbebf; }
.page-footer a { color:#bdbebf; }
.page-footer a:hover { color:#dc6226; }
.page-footer h2 {
	letter-spacing:0;
	word-spacing:0;
	color:#bdbebf;
	font-size:16px;
	line-height:20px;
	font-family:'Lato', sans-serif;
	font-weight:900;
	text-align:left;
	color:#e8eef2;
}
.page-footer ul li, .page-footer .item-list ul li, .page-footer ul.menu li {
	font-size:14px;
	line-height:23px;
	font-family:'Lato', sans-serif;
	font-style:normal;
	padding:0;
	margin:0;
	background:none;
}
.region-footer {
	padding:45px 0 25px;
	color:#e8eef2;
}
.footer-menu .content ul {
	margin:0;
	overflow:hidden;
}
.footer-menu .content ul li {
	background:none;
	margin:0;
	padding:0;
	font-style:normal;
	line-height:23px;
}
.footer-menu .content ul li:first-child { margin-left:0; }
.footer-menu .content ul li a {
	color:inherit;
	text-decoration:none;
}
.footer-menu .content ul li a:hover, .footer-menu .content ul li a.active {
	color:#dc6226;
	text-decoration:none;
}
.block-copyright { font-size:14px; }
.block-copyright .sitename {
	text-transform:uppercase;
	font-weight:900;
}
.block-copyright a { color:inherit; }
.block-copyright a:hover {
	color:#dc6226;
	text-decoration:none;
}
#backtotop {
	background:#363636;
	border-radius:50%;
	bottom:30px;
	color:transparent;
	font-size:0;
	line-height:0;
	margin-right:0 !important;
	padding:3px 0 7px;
	position:fixed;
	right:40px !important;
	text-align:center;
	text-decoration:none;
	width:70px;
	z-index:5;
}
#backtotop:after {
	color:#fff;
	content:"\f077";
	font:normal 40px/60px FontAwesome;
}
#backtotop:hover {
	background-color:#dc6226;
	opacity:1;
}
.switcher {
	cursor:pointer;
	margin-top:10px;
	font-size:11px;
}
.switcher:hover { text-decoration:underline; }
.panels-flexible-region-13-center { width:100%; }
.parallax { background:url(../images/parallax.jpg) center top no-repeat; }
@-webkit-keyframes pop {
	50% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
}
@keyframes pop {
	50% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
}
